{% extends "master.html" %}
{% load static %}
{% block title %}View Slots{% endblock %}
{% block content %}

<div class="w-full h-screen flex flex-col items-center p-5">
    <div id="slots-modal" tabindex="-1" aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-full max-h-full bg-[rgba(0,0,0,0.5)]">
        <div class="relative p-4 w-1/2 max-h-full">
            <div class="relative bg-white w-full rounded-lg shadow">
                <span class="absolute -top-10 right-0 px-3 py-1" id="message-span"></span>
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                    <h3 class="text-lg font-semibold text-gray-900" id="formLabel">
                        Add a Parking Slot
                    </h3>
                    <button type="button" id="close-modal"
                        class="text-gray-500 bg-transparent rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <form class="p-4 md:p-5" onsubmit="handleSubmit(event)">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <input type="text" class="hidden" name="id" id="id">
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <div class="col-span-2 sm:col-span-1">
                            <label for="slot_id" class="block mb-2 text-sm font-medium text-gray-900">Slot Id</label>
                            <input type="text" name="slot_id" id="slot_id"
                                class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:outline-none"
                                placeholder="" required>
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                            <label for="floor" class="block mb-2 text-sm font-medium text-gray-900">Floor</label>
                            <select id="floor" name="floor"
                                class="border border-gray-300 text-gray-900 bg-white text-sm rounded-lg block w-full p-2.5 focus:outline-none">
                                <option value="Underground">Underground</option>
                                <option value="Ground Floor">Ground Floor</option>
                                <option value="First Floor">First Floor</option>
                            </select>
                        </div>
                    </div>
                    <div class="grid justify-end">
                        <button type="submit"
                            class="text-white inline-flex items-center bg-blue-700 font-medium text-sm px-5 py-2 text-center">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    {% include 'includes/menu.html' %}

    <h1 class="uppercase font-bold text-2xl">Available Parking Slots</h1>
    <button id="new-slot"
        class="absolute right-5 py-1 px-8 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none border border-gray-500">New
        Slot</button>
    <div class="w-full relative overflow-x-auto sm:rounded-lg p-7">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-white uppercase bg-gray-700">
                <tr>
                    <th scope="col" class="px-6 py-3">Slot Id</th>
                    <th scope="col" class="px-6 py-3">Floor</th>
                    <th scope="col" class="px-6 py-3">Availability</th>
                    <th scope="col" class="px-6 py-3">Added On</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for slot in slots %}
                <tr class="bg-white border-b hover:bg-gray-50 hover:cursor-pointer group" data-slot-id="{{ slot.id }}"
                    onclick="editSlot('{{ slot.id }}')">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{slot.slot_id}}</th>
                    <td class="px-6 py-4">{{slot.floor}}</td>
                    {% if slot.is_available %}
                    <td class="px-6 py-4">Available</td>
                    {% else %}
                    <td class="px-6 py-4">Occupied</td>
                    {% endif %}
                    <td class="px-6 py-4 relative date-time" data-datetime="{{ slot.created_at }}">
                        <span class="formatted-date">{{ slot.created_at }}</span>
                        <span class="cancel-icon hidden group-hover:inline-block absolute right-1">
                            <svg onclick="deleteSlot('{{ slot.id }}', event)"
                                class="w-4 h-4 text-red-500 hover:text-red-700 cursor-pointer" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="mt-4 flex justify-center space-x-2 absolute bottom-2">
        <span id="total-pages" hidden>{{ total_pages }}</span>
        <button id="prev-btn" onclick="fetchSlots(currentPage - 1)"
            class="px-3 py-2 text-sm font-medium text-gray-900 bg-gray-200 rounded hover:bg-gray-300">Previous</button>
        <span id="page-info" class="px-3 py-2 text-sm font-medium text-gray-700">Page 1</span>
        <button id="next-btn" onclick="fetchSlots(currentPage + 1)"
            class="px-3 py-2 text-sm font-medium text-gray-900 bg-gray-200 rounded hover:bg-gray-300">Next</button>
    </div>
    
</div>

<script src="{% static '/js/slots.js' %}"></script>
<script>
    const handleSubmit = async (event) => {
        event.preventDefault();
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const id = document.getElementById('id').value;
        const formData = {
            slot_id: document.getElementById('slot_id').value,
            floor: document.getElementById('floor').value,
        };
        const res = id != "" ?
            await axios.put(`/slot/${id}`, formData, {
                headers: {
                    'X-CSRFToken': csrfToken
                }
            }) : await axios.post('/slots', formData, {
                headers: {
                    'X-CSRFToken': csrfToken
                }
            })
        alert(res.data.message)
        if (res.data.success) {
            location.reload(true);
        }
    }

    const editSlot = async (id) => {
        const res = await axios.get(`/slot/${id}`)
        const slotDetails = res.data.data
        console.log(slotDetails)
        modal.classList.toggle('hidden');
        modal.classList.toggle('flex');
        document.getElementById("formLabel").innerText = "Update Slot"
        document.getElementById('id').value = slotDetails.id
        document.getElementById('slot_id').value = slotDetails.slot_id
        let floorSelect = document.getElementById('floor');
        floorSelect.value = slotDetails.floor;
    }
</script>
{% endblock %}