{% extends "master.html" %}
{% load static %}
{% block title %}System Users{% endblock %}
{% block content %}

<div class="relative w-full h-screen flex flex-col items-center p-5">
    <div id="user-modal" tabindex="-1" aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-full max-h-full bg-[rgba(0,0,0,0.5)]">
        <div class="relative p-4 w-1/2 max-h-full">
            <div class="relative bg-white w-full rounded-lg shadow">
                <span class="absolute -top-10 right-0 px-3 py-1" id="message-span"></span>
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t relative">
                    <h3 class="text-lg font-semibold text-gray-900" id="formLabel">
                        New User Form
                    </h3>
                    <!-- <button class="absolute right-20" onclick="deleteUser('{{ user.id }}')">del</button> -->
                    <button type="button" id="close-modal"
                        class="text-gray-500 bg-transparent rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <form class="p-4 md:p-5" onsubmit="handleSubmit(event)">
                    <input type="text" class="hidden" name="id" id="id">
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <div class="col-span-2 sm:col-span-1">
                            <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900">First
                                Name</label>
                            <input type="text" name="firstName" id="firstName"
                                class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:outline-none"
                                placeholder="" required>
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                            <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900">Last Name</label>
                            <input type="text" name="lastName" id="lastName"
                                class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:outline-none"
                                placeholder="" required>
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                            <label for="username" class="block mb-2 text-sm font-medium text-gray-900">UserName</label>
                            <input type="text" name="username" id="username"
                                class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:outline-none"
                                placeholder="" required>
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                            <label for="idNo" class="block mb-2 text-sm font-medium text-gray-900">Id No.</label>
                            <input type="number" name="idNo" id="idNo"
                                class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:outline-none"
                                placeholder="" required>
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">Phone
                                Number</label>
                            <input type="text" name="phone" maxlength="10" id="phone"
                                class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:outline-none"
                                placeholder="" required>
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                            <input type="email" name="email" id="email"
                                class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:outline-none"
                                placeholder="" required>
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                            <label for="gender" class="block mb-2 text-sm font-medium text-gray-900">Gender</label>
                            <select id="gender" name="gender"
                                class="border border-gray-300 text-gray-900 bg-white text-sm rounded-lg block w-full p-2.5 focus:outline-none">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Set User
                                Password</label>
                            <input type="password" name="password" id="password"
                                class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:outline-none"
                                placeholder="">
                        </div>
                    </div>
                    <div class="grid justify-end">
                        <button type="submit"
                            class="text-white inline-flex items-center bg-blue-700 font-medium text-sm px-5 py-2 text-center">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include 'includes/menu.html' %}
    
    <h1 class="uppercase font-bold text-2xl">Active system Users</h1>
    <button id="new-user"
        class="absolute right-5 py-1 px-8 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none border border-gray-500">New
        User</button>
    <div class="w-full relative overflow-x-auto sm:rounded-lg p-7">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-white uppercase bg-gray-700">
                <tr>
                    <th scope="col" class="px-6 py-3">Full Name</th>
                    <th scope="col" class="px-6 py-3">ID No.</th>
                    <th scope="col" class="px-6 py-3">Username</th>
                    <th scope="col" class="px-6 py-3">Phone Number</th>
                    <th scope="col" class="px-6 py-3">Email</th>
                    <th scope="col" class="px-6 py-3">Role</th>
                    <th scope="col" class="px-6 py-3">Gender</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for user in users %}
                <tr class="bg-white border-b hover:bg-gray-50 hover:cursor-pointer group" data-user-id="{{ user.id }}"
                    onclick="editUser('{{ user.id }}')">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{user.lastName}} {{user.firstName}}</th>
                    <td class="px-6 py-4">{{user.idNo}}</td>
                    <td class="px-6 py-4">{{user.username}}</td>
                    <td class="px-6 py-4">{{user.phone}}</td>
                    <td class="px-6 py-4">{{user.email}}</td>
                    {% if user.is_superuser %}
                    <td class="px-6 py-4">System Admin</td>
                    {% else %}
                    <td class="px-6 py-4">System Operator</td>
                    {% endif %}
                    <td class="px-6 py-4 flex relative">
                        {{user.gender}}
                        <span class="cancel-icon hidden group-hover:inline-block absolute right-1">
                            <svg onclick="deleteUser('{{ user.id }}', event)"
                                class="w-4 h-4 text-red-500 hover:text-red-700 cursor-pointer" fill="none"
                                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="mt-4 flex justify-center space-x-2 absolute bottom-2">
        <span id="total-pages" hidden>{{ total_pages }}</span>
        <button id="prev-btn" onclick="fetchUsers(currentPage - 1)"
            class="px-3 py-2 text-sm font-medium text-gray-900 bg-gray-200 rounded hover:bg-gray-300">Previous</button>
        <span id="page-info" class="px-3 py-2 text-sm font-medium text-gray-700">Page 1</span>
        <button id="next-btn" onclick="fetchUsers(currentPage + 1)"
            class="px-3 py-2 text-sm font-medium text-gray-900 bg-gray-200 rounded hover:bg-gray-300">Next</button>
    </div>
</div>

<script src="{% static '/js/users.js' %}"></script>
<script>
    const handleSubmit = async(event) => {
        event.preventDefault();
        const token = localStorage.getItem("smartPToken");
        const id = document.getElementById('id').value;
        const password = document.getElementById('password').value;
        const formData = {
            firstName: document.getElementById('firstName').value,
            lastName: document.getElementById('lastName').value,
            username: document.getElementById('username').value,
            idNo: document.getElementById('idNo').value,
            phone: document.getElementById('phone').value,
            email: document.getElementById('email').value,
            gender: document.getElementById('gender').value,
        };
        if (password != ""){
            formData["password"] = password
        }
        const res = id != "" ? 
            await axios.put(`/user/${id}`, formData,{
                headers:{
                    Authorization: `Bearer ${token}`,
                }
            }) : await axios.post('/users', formData,{
                headers:{
                    Authorization: `Bearer ${token}`,
                }
            }) 
        alert(res.data.message)
        if (res.data.success){
            location.reload(true);
        }
    }
    
    const editUser = async (userId) => {
        const res = await axios.get(`/user/${userId}`)
        const userDetails = res.data.data
        document.getElementById("formLabel").innerText = "Update User"
        modal.classList.toggle('hidden');
        modal.classList.toggle('flex');
        document.getElementById('id').value = userDetails.id
        document.getElementById('firstName').value = userDetails.firstName
        document.getElementById('lastName').value = userDetails.lastName
        document.getElementById('username').value = userDetails.username
        document.getElementById('idNo').value = userDetails.idNo
        document.getElementById('phone').value = userDetails.phone
        document.getElementById('email').value = userDetails.email
        let genderSelect = document.getElementById('gender');
        genderSelect.value = userDetails.gender;
    }
</script>
{% endblock %}